body {
  background-attachment: fixed;
  background-image: url(images/Anita.png);
  background-size: cover;
  color: #080708;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.3rem;
  margin: 0;
}

h1 {
  margin: 0;
  font-family: 'Press Start 2P', cursive;
  font-size: 11rem;
  opacity: 0.5;
  padding: 0;
  text-align: center;
  text-decoration: none;
}

h2 {
  font-size: 2rem;
}

hr {
  border-style: none;
  border-top: #e8f1f2 1px solid;
}

/* divs styles */
.zwarte-div {
  background: #080708;
  border-radius: 1rem;
  color: #e8f1f2;
  margin: 5% auto;
  opacity: 0.8;
  padding: 6%;
  width: 80%;
}

.transparante-divs {
  color: #e8f1f2;
  margin: auto;
  padding: 7% 0;
  width: 80%;
}

/* front */
.enter-page-link:hover {
  text-decoration: none;
}

.front {
  height: 100vh;
  margin: auto;
  margin-top: 0;
  width: 66%;
}

.first {
  color: #dd1c1a;
  margin-top: 10.8rem;
}

.second {
  color: #4062bb;
  position: relative;
  bottom: 12.5rem;
}

.ondertitel {
  align-items: baseline;
  color: #fdca40;
  display: flex;
  font-family: 'Big Shoulders Text', cursive;
  font-size: 2.2rem;
  opacity: 0.6;
  position: relative;
  bottom: 10rem;
}

#cursor {
  background: #fdca40;
  height: 35px;
  line-height: 17px;
  margin-left: 3px;
  -webkit-animation: blink 1.2s infinite;
  width: 2px;
}

@-webkit-keyframes blink {
  0% {
    background: #222
  }

  50% {
    background: #fdca40
  }

  100% {
    background: #222
  }
}

.click-text {
  color: #4062BB;
  position: relative;
  bottom: 3rem;
  text-align: center;
}

.click-text:hover {
  color: #E8F1F2;
}

/* menubar */
.welcome {
  text-align: center;
}

.big-menu {
  font-size: 1.7rem;
  list-style-type: none;
  margin: auto;
  padding: 0;
  text-align: center;
}

.small-menu {
  display: none;
  list-style-type: none;
  padding: 0;
}

.big-item {
  display: inline;
  padding: 14px 24px;
}

.small-item {
  display: inline;
  opacity: 0.8;
  padding: 0 10px;
}

.fa-comments {
  color: #fdca40;
}

a {
  color: #e8f1f2;
}

a:hover {
  color: #e8f1f2;
}

/* aboutdiv */
.about-photo {
  float: right;
  margin-left: 3%;
  width: 35%;
}

/* vaardighedendiv */
.skills-header {
  color: #e8f1f2;
}

.table {
  color: #e8f1f2;
  margin: 15% auto;
}

.stars {
  font-size: 1.2rem;
  line-height: 0.9;
}

/* werkervaringdiv */
.werkervaring-uitleg {
  color: #4062BB;
  display: none;
  text-align: center;
}

.job {
  border-radius: 0.3rem;
  margin: 2% 0;
  padding: 2%;
  padding-left: 0;
}

.job:hover {
  background-color: #161316;
}

.jobdescription {
  border-left-color: #494850;
  border-left-style: solid;
  border-left-width: 1px;
  padding-left: 3%;
}

/* opleidingendiv */
.opleiding {
  margin-bottom: 3%;
}

.opleidingen-hr {
  border-style: none;
  border-top-color: #e8f1f2;
  border-top-style: solid;
  border-top-width: 1px;
}

.opleiding-datum {
  font-size: 1rem;
  font-style: italic;
}

/* contactdiv */
.socials {
  margin: 7%;
  opacity: 0.8;
}

.socials:hover {
  opacity: 1;
}

.socials-hr {
  display: none;
}

.contactform-item {
  margin: 5% 0;
  padding: 0;
}

.contactform-name1 {
  padding: 0 1% 0 0;
}

.contactform-name2 {
  padding: 0 0 0 1%;
}

/* footerdiv */
.footer-img {
  width: 100%;
}

.footer {
  background: black;
  color: #e8f1f2;
  font-size: 0.7rem;
  padding: 7%;
  text-align: center;
}

/* media queries */
@media (max-width: 800px) {
  body {
    font-size: 1.1rem;
  }

  .front {
    height: 1024px;
  }

  .first {
    font-size: 6.5rem;
  }

  .second {
    font-size: 6.5rem;
    bottom: 7.5rem;
  }

  .ondertitel {
    bottom: 6.5rem;
    font-size: 1.7rem;
  }

  #cursor {
    height: 25px;
  }

  .big-menu {
    font-size: 1.2rem;
  }

  .big-item {
    padding: 7px 6px;
  }

  .about-photo {
    width: 40%;
  }
  .table {
    margin: 3% auto;
  }

  .werkervaring-uitleg {
    display: block;
  }

  .opleiding-datum {
    font-size: 0.9rem;
  }

  .socials-div {
    text-align: center;
  }

  .socials-hr {
    display: block;
  }
}

@media (max-width: 450px) {
  body {
    font-size: 1rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  .zwarte-div {
    width: 100%;
    border-radius: 0;
  }

  .transparante-divs {
    width: 100%;
  }

  .front {
    height: 350px;
  }

  .first {
    font-size: 3.1rem;
  }

  .second {
    font-size: 3.1rem;
    bottom: 3.5rem;
  }

  .ondertitel {
    bottom: 2.5rem;
    font-size: 1rem;
  }

  #cursor {
    height: 15px;
  }

  .click-text {
    position: relative;
    top: 10rem;
  }

  .big-menu {
    display: none;
  }

  .small-menu {
    display: inline;
  }

  .about-photo {
    width: 55%;
  }

  .opleiding-datum {
    font-size: 0.7rem;
  }
}
